# ----------------------
# Flask
# ----------------------
flask
flask-restful
pandas
scikit-learn
pyvi
underthesea
nltk
# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
mongoengine

# ----------------------
# Other
# ----------------------
youtube-dl